$bg-main: #5fa8d3;
$bg-card: #e7e7e7;
$bg-button: #1b4965;
$bg-light-botton: #fff;

$line-color: #fff;

$shadow-color:#e7e7e7;

$text-color:#1b4965;
$text-span-color: #1b4965;
$text-light-color: #fff;



