$bg-main: #5fa8d3;
$bg-card: #e7e7e7;

$bg-light-botton: #fff;

$bg-button: #1b4965;
$bg-button-active: #20587b;
$shadow-button: #e7e7e7;
$border-button: #e7e7e7;

$line-color: #fff;
$line-color-black:$bg-button;

$shadow-color:#e7e7e7;

$text-color:#1b4965;
$text-span-color: #1b4965;
$text-light-color: #fff;
$text-grey-color: #8B8B8B;



