@import '../../styles/var.scss';
@import '../../styles/reset.scss';
@import '../../styles/template.scss';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-main;
}

.cards{
    display: flex;
    padding: 40px;
}



