@import '../../styles/var.scss';
@import '../../styles/reset.scss';
@import '../../styles/template.scss';


nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bg-main;
    border-bottom: 1px solid $line-color;
    color: $text-light-color;
    letter-spacing: normal;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: $container-width;
    padding: 20px;
    margin: 0 auto;
    .logo {
        margin-right: auto;
        color: $text-light-color;
        font-size: 24px;
        strong{
            font-weight: 700;
        }
        em{
            color: $text-span-color;
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        align-items: center;
        column-gap: 40px;
        color: $text-light-color;    
        font-size: 16px;
        font-weight: 500;
        &_item{
            .link {
                color: $text-light-color;
                transition: opacity 0.2s ease-in;
                :hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
